:root{
     --cs-scarlet-rgb: 255, 36, 00;
     --cs-scarlet: #ff2400;
     --cs-gray-500: #adb5bd;
     --cs-lightgrey: #dedede;
     --cs-lightgrey-rgb: 222, 222, 222;
    }

body::before{
    display: block;
    content: '';
    height: 100px;
}


h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
    color:  rgba(var(--cs-scarlet-rgb));
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
    
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
  color:  rgba(var(--cs-scarlet-rgb));
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
    color:  rgba(var(--cs-scarlet-rgb));
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
  color:  rgba(var(--cs-scarlet-rgb));
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
  color:  rgba(var(--cs-scarlet-rgb));
}

h6, .h6 {
  font-size: 1rem;
  color:  rgba(var(--cs-scarlet-rgb));
}

/* SCARLET */
.link-scarlet {
  color: #FF2400;
}
.link-scarlet:hover, .link-scarlet:focus {
  color: #000000;
}

.navbar-scarlet .navbar-brand {
  color: #ff2400;
}
.navbar-scarlet .navbar-brand:hover, .navbar-scarlet .navbar-brand:focus {
  color: #ff2400;
}
.navbar-scarlet .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.99);
}
.navbar-scarlet .navbar-nav .nav-link:hover, .navbar-scarlet .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-scarlet .navbar-nav .nav-link.disabled {
  color: rgba(255, 36, 00, 0.25);
}
.navbar-scarlet .navbar-nav .show > .nav-link,
.navbar-scarlet .navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-scarlet .navbar-toggler {
  color: rgba(255, 36, 00,, 0.55);
  border-color: rgba(255, 36, 00, 0.1);
}
.navbar-scarlet .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2800, 00, 00, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-scarlet .navbar-text {
  color: rgba(255, 36, 00, 0.55);
}

.navbar-scarlet .navbar-text a {color: #ff2400;}
.navbar-scarlet .navbar-text a:hover {color: #000;}
.navbar-scarlet .navbar-text a:focus {color: #ff0000;}


.btn-scarlet {
  color: #fff;
  background-color: #ff2400;
  border-color: #0d6efd;
}

.btn-scarlet:hover {
  color: #fff;
  background-color: #0D98BA;
  border-color: #0a58ca;
}

.btn-check:focus + .btn-scarlet, .btn-scarlet:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.btn-check:checked + .btn-scarlet, .btn-check:active + .btn-scarlet, .btn-scarlet:active, .btn-scarlet.active, .show > .btn-scarlet.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}

.btn-check:checked + .btn-scarlet:focus, .btn-check:active + .btn-scarlet:focus, .btn-scarlet:active:focus, .btn-scarlet.active:focus, .show > .btn-scarlet.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.btn-scarlet:disabled, .btn-scarlet.disabled {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.bg-scarlet {
  --cs-bg-opacity: 1;
  background-color: rgba(var(--cs-scarlet-rgb), var(--cs-bg-opacity)) !important;
}

.bg-lightgrey {
  --cs-bg-opacity: 1;
  background-color: rgba(var(--cs-lightgrey-rgb), var(--cs-bg-opacity)) !important;
}

.text-scarlet {
  --cs-text-opacity: 1;
  color: rgba(var(--cs-scarlet-rgb), var(--cs-text-opacity)) !important;
}

div .test-border{
    border: 1px;
    
}


.rounded-5 {
  border-radius: 0.5rem !important;
}

.rounded-10 {
  border-radius: 1.0rem !important;
}
